@{
    ViewData["Title"] = "Hi";
}

@ViewData["Title"]<br />
@ViewData["Message"]

@*<button id="BtnTest" onclick="btnClick();">按我</button>


<script type="text/javascript">
    function btnClick() {
        
    };
</script>*@